<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Ref Tools</h1>
      </div>
    </div>
  </div>
</div>

<div class="trending">
  <div class="container">
    <h2>Features</h2>
    <div class="row trending-listing">
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="http://bit.ly/1R8kaBz">
          <!--<div class="caption">-->
          <span class="listing-title">Run a test</span>
          <!--</div>-->
        </div>
      </div>
      <!--<div class="col-md-4">-->
        <!--<div class="thumbnail">-->
          <!--<img src="http://www.testinteligencia.net/image/repository/test1.jpg">-->
          <!--<div class="caption">-->
            <!--<span class="listing-title">Run a suite of tests</span>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="http://www.sputnik.com/resources/support/techsupport/reports-icon.png">
          <!--<div class="caption">-->
            <span class="listing-title">View Reports</span>
          <!--</div>-->
        </div>
      </div>
    </div>
  </div>
</div>

